*{
    color:black;
}
.scrolling-wrapper{
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 45vh;
  width: 100%;
  background: rgb(2,0,36);
  background: linear-gradient(347deg, rgba(2,0,36,0.3617822128851541) 0%, rgba(9,9,121,0.1516981792717087) 0%, rgba(242,241,182,1) 38%);
    
}
.card {
    
    border-top-right-radius: 10px;
    
    box-shadow: 0 14px 26px rgba(0,0,0,0.04);
    transition: all 0.3s ease-out;
    text-decoration: none;
  }
  
  .card:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0,0,0,0.11),
      0 24px 46px var(--box-shadow-color);
  }
  
  .card:hover .overlay {
    transform: scale(4) translateZ(0);
  }
  
  .card:hover .circle {
    border-color: var(--bg-color-light);
    background: var(--bg-color);
  }
  
  .card:hover .circle:after {
    background: var(--bg-color-light);
  }
  
  .card:hover p {
    color: var(--text-color-hover);
  }
  
  .card:active {
    transform: scale(1) translateZ(0);
    box-shadow: 0 15px 24px rgba(0,0,0,0.11),
      0 15px 24px var(--box-shadow-color);
  }
  

.navbar{
    color: rgb(15, 0, 75);
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
}
.navbar li{
    font-stretch: semi-expanded;
    color: rgb(9, 0, 88) !important;
    font-family: sans-serif;
}
.navbar li a:hover{
    color: blue;
    border-bottom: 3px solid blue;
    border-radius: 10px;
}