{% extends 'base.html' %}
{% block content %}
<div class="container">
<hr>
<h3 style="color: #b13cfd;
font-weight: bolder; border-bottom: 3px solid #b13cfd;">From the world of Entertainment</h3>
</div>
{% for entertainment in entertainments %}
<div class="container">
<div class="card bg-dark text-white mt-5">
    <img src="{{entertainment.urlToImage}}" class="card-img img-fluid" alt="Stony Beach"/>
    <div class="card-img-overlay">
      <a href="{{entertainment.url}}"><h5 class="card-title text-white">{{entertainment.title}}</h5></a>
      <p class="card-text text-white">{{entertainment.description}}</p>
      </p>
      
    </div>
  </div>
</div>

{% endfor %}
{% endblock %}