<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Main page</h1>
    
   <ul>
       {% for channel in channels %}
            <li>
                <h2>{{channel.name}}</h2>
                <h2>{{channel.description}}</h2>
                <h2>{{channel.id}}</h2>
                <p>{{channel.url}}</p>
               <a href="/source/{{channel.id}}">View Listed articles</a>
            </li>
       {% endfor %}
       
   </ul>
</body>
</html>