{% extends 'base.html'%}



    {% block content %}

    <div class="container text-center mt-5">
        <h4 mt-5>OUR NEWS SOURCES</h4><hr>
    </div>
    <div class="container" style="height: 40vh;">
        <div class="scrolling-wrapper">
        
            {% for channel in channels %}
            <ul class="">
            <li class="card mt-3 mb-3" style="width: 15rem;height: 15rem;">
                <div class="card-body ">
                  <h6 class="card-title">{{channel.name}}</h6>
                  <h6 class="card-subtitle mb-2 text-muted"></h6>
                  <p class="card-text" style="height: 7rem;overflow: hidden;">{{channel.description}}.</p>
                  <a href="{{channel.url}}" class="card-link">Website</a>
                  <a href="/source/{{channel.id}}" class="card-link">View articles</a>
                </div>
            </li>
            </ul>      
            {% endfor %}
            
       
    </div>
    </div>

   {% endblock %}