{% extends 'base.html'%}



    {% block content %}

    <div class="container text-center mt-5">
        <h4 mt-5>OUR NEWS SOURCES</h4><hr>
    </div>
    <div class="container row extra " style="height: 40vh;">
        <div class="">
        
            {% for channel in channels %}
            <ul class="row">
            <li class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">{{channel.name}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted"></h6>
                  <p class="card-text">{{channel.description}}.</p>
                  <a href="{{channel.url}}" class="card-link">Website</a>
                  <a href="/source/{{channel.id}}" class="card-link">View articles</a>
                </div>
            </li>
            </ul>      
            {% endfor %}
            
       
    </div>
    </div>
   {% endblock %}